*{
    margin: 0;
    padding: 0%;
}    
body{
    background-color:#FAFAFF;
    text-align:center;
    justify-content: center;
    color: #30343F;
    align-items: center;
    justify-items: center;
}
h1{
    font-size: 33px;
}
#game{
    height: 63vh;
    width: 63vh;
    display: flex;
    flex-wrap: wrap;
    background-color:#E4D9FF;
    border-radius: 3vmin;
    justify-content: center;
    align-items: center;
    justify-items: center;
    margin: 1vh;
    gap:1vh;
}
.box{
    height: 18vh;
    width: 18vh;
    border-radius: 3vmin;
    background-color:#4965ca;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6rem;
    cursor: pointer;
}
button{
    height: 10vh;
    width: 31vh;
    font-size: 1.5rem;
    font-weight: bolder;
    border-radius: 3vmin;
    margin: 1vh;
    background-color:#E4D9FF;
    border: none;
    cursor: pointer;
}
#scores{
    height:10vh;
    width: 63vh;
    display: flex;
    flex-wrap: wrap;
    background-color:#E4D9FF;
    border-radius: 15px;
    margin: 10px;
    gap:100px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.scores{
    font-size: 1.8rem;
    font-weight: bolder;
}