*{
    margin:0px;
    border: 0px;
    color: #565857;
    justify-items: center;
    justify-content: center;
    align-items: center;
}
body{
    background-color: #CBD0B9;
    justify-items: center;
}
h1{
    font-size: 100px;
}
#Choices{
    height: 300px;
    width: 800px;
    gap:30px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
}
.choices{
    height: 200px;
    width : 200px;
    object-fit: fill;
    border-radius: 50%;
    
}
.choices:hover{
    cursor: pointer;
    height: 220px;
    width: 220px;
    box-shadow: 0 10px 30px rgba(0,0,0,1);
}
#msg{
    margin:5px;
    font-size: 2rem;
    font-weight:bold ;
}
#Scores{
    background-color: #BDDBD0;
    height: 100px;
    width: 800px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-items: center;
}
.scores{
    height: 100px;
    width: 200px;
    font-size: 45px;
    text-align: center;
}

button{
    height: 50px;
    width: 150px;
    background-color: #BDDBD0;
    border-radius: 10px;
    display: block;
    margin: 20px auto;
    cursor: pointer;
}